<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameTrader</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link rel="stylesheet" href="/itemView.css" type="text/css">
</head>
<body>
    <div id="header" onclick="window.location.href='/items/user=<%=user.id%>'">
        <h1 id="head" style="display: inline-block">GameTrader</h1>
    </div>
    <div id="item">
        <h1><%=item.name %> - $<%=item.cost %></h1>
        <% if(isOwner) { %>
            <form action="/items/<%=item.id%>?_method=DELETE" method="POST"><button id="trash">Delete</button></form>
        <%}%>
        <h1><%=item.desc %></h1>
    </div>
</body>
</html>